/* 
1 - Reset CSS
2 - General configurations
3 - Preloader
4 - Header
5 - Footer
6 - Banner Hero Slider
7 - About
*/







/* ******* ******* ******* ******* ******* ******* ******* */
/*                      1 - Reset CSS                      */
/* ******* ******* ******* ******* ******* ******* ******* */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    --transition-button: all 0.2s ease-out;
    --color-primary: #28bd25;
    --color-secondary: #fff700;
    --color-text: #151515;
}

body {
    font-size: 1.6rem;
    color: var(--color-text);
    font-family: 'robotoregular';
    /* font-optical-sizing: auto;
    font-style: normal; */
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #151515;
}

a:hover {
    color: #28bd25;
}







/* ******* ******* ******* ******* ******* ******* ******* */
/*                2 - General configurations                */
/* ******* ******* ******* ******* ******* ******* ******* */

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}

@media only screen and (min-width: 0) {
    .container {
        max-width: 320px;
    }
}

@media only screen and (min-width: 320px) {
    .container {
        max-width: 320px;
    }
}

@media only screen and (min-width: 480px) {
    .container {
        max-width: 460px;
    }
}

@media only screen and (min-width: 576px) {
    .container {
        max-width: 520px;
    }
}

@media only screen and (min-width: 767px) {
    .container {
        max-width: 720px;
    }
}

@media only screen and (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media only screen and (min-width: 1200px) {
    .container {
        max-width: 1020px;
    }
}

@media only screen and (min-width: 1440px) {
    .container {
        max-width: 1360px;
    }
}

@import url(./_header.css);

body {
    width: 100vw;
    height: 100vh;
}







/* ******* ******* ******* ******* ******* ******* ******* */
/*                      3 - Preloader                      */
/* ******* ******* ******* ******* ******* ******* ******* */

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    display: grid;
    place-content: center;
    /* transition: opacity .3s ease .5s; */
    z-index: 9999;
}

.preloader--loaded {
    display: none;
    /* opacity: 0; */
}

.preloader__element {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.preloader__element div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: var(--color-primary);
    animation: preloader 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.preloader__element div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
}

.preloader__element div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
}

.preloader__element div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
}

@keyframes preloader {
    0% {
        top: 8px;
        height: 64px;
    }

    50%,
    100% {
        top: 24px;
        height: 32px;
    }
}







/* ******* ******* ******* ******* ******* ******* ******* */
/*                        4 - Header                        */
/* ******* ******* ******* ******* ******* ******* ******* */

.header {
    width: 100%;
    position: relative;
    background-color: #fff;
}

.header__content {
    display: flex;
    gap: 1.5rem;
    padding: .4rem;
}

.header__brand {
    order: 2;
}

.header__brand img {
    width: 16rem;
    height: 4.1rem;
}

.header__button-burguer {
    order: 1;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.header__button-burguer--open img:nth-child(2) {
    display: none;
}

.header__button-burguer--close img:nth-child(1) {
    display: none;
}

.header__nav {
    display: none;
    position: absolute;
    top: 100%;
    /* position: fixed;
    top: 5.5rem; */
    left: 0;
    background-color: #fff;
    max-width: 27rem;
    height: calc(100vh - 5.6rem);
    box-shadow: 0 0 1rem 0 #0002;   
    z-index: 2;
}

.header__nav--show {
    display: block;
}

.header__nav-top {
    padding: 3rem;
}

.header__nav-top__contact-item {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.header__nav-top__contact-item a {
    transition: var(--transition-button);
}

.header__nav-top__contact-item:nth-child(1) a {
    font-size: 1.4rem;
    font-family: 'robotomedium';
}

.header__nav-top__contact-item:nth-child(2) a {
    font-size: 1.5rem;
}

.header__nav-top__socials {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.header__nav-top__socials li a {
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e3e3e3;
    transition: var(--transition-button);
}

.header__nav-top__socials li a:hover {
    background-color: #cfcfcf;
}

.header__nav-bottom__item a {
    display: inline-block;
    padding: 1rem 2rem;
    width: 100%;
    transition: var(--transition-button);
    font-size: 1.6rem;
    line-height: 3.5rem;
    letter-spacing: 1.13px;
    margin-bottom: .6rem;
}

.header__nav-bottom__item a:hover,
.header__nav-bottom__item--active a {
    font-family: 'robotomedium';
    color: #fff;
    background-color: var(--color-primary);
}

@media only screen and (min-width: 992px) {
    .header {
        position: initial;
    }

    .header__content {
        justify-content: space-between;
        align-items: center;
    }

    .header__brand {
        order: 1;
    }

    .header__button-burguer {
        display: none;
    }

    .header__nav {
        display: block;
        position: initial;
        top: initial;
        left: initial;
        max-width: initial;
        height: initial;
        box-shadow: none;
        order: 2;
    }

    .header__nav-top {
        padding: 1.3rem 0;
        display: flex;
        align-items: center;
        justify-content: end;
        gap: 2rem;
    }

    .header__nav-top__contact-item {
        gap: 1.2rem;
        margin-bottom: 0;
        align-items: center;
        letter-spacing: .5px;
    }

    .header__nav-top__socials {
        margin-top: 0;
        margin-left: 1rem;
    }

    .header__nav-bottom__items {
        display: flex;
    }

    .header__nav-bottom__item a {
        padding: 1rem 0;
        margin: 0 2rem;
        display: flex;
        justify-content: center;
        font-family: 'robotomedium';
        position: relative;
    }

    .header__nav-bottom__item a:hover,
    .header__nav-bottom__item--active a {
        color: var(--color-text);
        background-color: transparent;
    }

    .header__nav-bottom__item a:hover::before,
    .header__nav-bottom__item--active a::before {
        content: '';
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        height: 5px;
        width: 6rem;
        background-color: var(--color-primary);
        display: block;
        animation: header-bottom-item-active .3s ease-out;
    }
}

@media only screen and (min-width: 1200px) {
    .header__brand img {
        width: 19.2rem;
        height: 5rem;
    }

    .header__nav-top {
        gap: 3rem;
    }

    .header__nav-top__contact-item:nth-child(1) a {
        font-size: 1.6rem;
    }

    .header__nav-bottom__item a {
        padding: 2rem 0;
        margin: 0 2.3rem;
        font-size: 1.8rem;
    }
}

@keyframes header-bottom-item-active {
    0% {
        width: 0;
    }

    100% {
        width: 6rem;
    }
}







/* ******* ******* ******* ******* ******* ******* ******* */
/*                        5 - Footer                        */
/* ******* ******* ******* ******* ******* ******* ******* */

/* ******* ******* ******* ******* ******* ******* ******* */
/*                  6 - Banner Hero Slider                  */
/* ******* ******* ******* ******* ******* ******* ******* */
/* .banner{} */
.banner .banner__content {
    cursor: grab;
}

.banner .banner__content:active {
    cursor: grabbing;
}

.banner .banner__content .slick-arrow {
    z-index: 1;
}

.banner .banner__content .slick-arrow.slick-prev {
    left: 2rem;
    width: 2rem;
}

.banner .banner__content .slick-arrow.slick-prev::before {
    content: url(../images/icons/square-caret-left-regular.svg);
}

.banner .banner__content .slick-arrow.slick-next {
    right: 2rem;
    width: 2rem;
}

.banner .banner__content .slick-arrow.slick-next::before {
    content: url(../images/icons/square-caret-right-regular.svg);
}

.banner .banner__content .slick-dots {
    bottom: 2rem;
}

.banner .banner__content .slick-dots *::before {
    font-size: 1.2rem;
    color: var(--color-primary)
}

.banner .banner__background {
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 70%;
    height: 90vw;
    display: flex;
}

.banner .banner__texts {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 1rem;
    height: 100%;
}

.banner .banner__texts .banner__texts__title {
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-family: 'robotobold';
    line-height: 2.5rem;
    filter: drop-shadow(1px 1px 1px #000);
}

.banner .banner__texts .banner__texts__subtitle {
    letter-spacing: .15rem;
    font-family: 'robotomedium';
    line-height: 2.1rem;
    font-size: 1.6rem;
    margin-bottom: 2rem;
    filter: drop-shadow(1px 1px 1px #000);
}

.banner .banner__texts .banner__texts__cta {
    border: none;
    background-color: var(--color-primary);
    padding: 1.6rem 4rem;
    font-size: 1.4rem;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .3rem;
    transition: var(--transition-button);
    font-family: 'robotoblack';
    filter: drop-shadow(2px 3px 3px #555);
}

.banner .banner__texts .banner__texts__cta:hover {
    background-color: var(--color-secondary);
    color: #000;
}

@media only screen and (min-width: 480px) {
    .banner .banner__texts {
        padding: 0 4rem;
    }
}

@media only screen and (min-width: 576px) {
    .banner .banner__background {
        height: 70vw;
    }
}

@media only screen and (min-width: 768px) {
    .banner .banner__content .slick-arrow.slick-prev {
        left: 3rem;
        width: 3rem;
    }

    .banner .banner__content .slick-arrow.slick-next {
        right: 3rem;
        width: 3rem;
    }

    .banner .banner__background {
        height: 50vw;
    }

    .banner .banner__texts {
        gap: 1.4rem;
    }
    
    .banner .banner__texts .banner__texts__title {
        letter-spacing: .25rem;
        line-height: 3rem;
        font-size: 2.6rem;
    }
    
    .banner .banner__texts .banner__texts__subtitle {
        letter-spacing: .2rem;
        font-size: 1.7rem;
        margin-bottom: 2.5rem;
    }
}

@media only screen and (min-width: 992px) {
    .banner .banner__background {
        background-position-x: 50%;
        height: 39.2vw;
    }
}

@media only screen and (min-width: 1200px) {
    .banner .banner__texts {
        gap: 1.4rem;
    }
    
    .banner .banner__texts .banner__texts__title {
        letter-spacing: .3rem;
        line-height: 4rem;
        font-size: 3.2rem;
    }
    
    .banner .banner__texts .banner__texts__subtitle {
        letter-spacing: .24rem;
        line-height: 2.5rem;
        font-size: 2rem;
        margin-bottom: 3rem;
    }
    
    .banner .banner__texts .banner__texts__cta {
        padding: 2.4rem 6rem;
        font-size: 1.6rem;
        letter-spacing: .4rem;
    }
}

@media only screen and (min-width: 1440px) {
    .banner .banner__texts {
        gap: 3.5rem;
    }
    
    .banner .banner__texts .banner__texts__title {
        letter-spacing: .4rem;
        line-height: 6rem;
        font-size: 5rem;
    }
    
    .banner .banner__texts .banner__texts__subtitle {
        letter-spacing: .3rem;
        line-height: 3.5rem;
        font-size: 3rem;
    }
    
    .banner .banner__texts .banner__texts__cta {
        padding: 3rem 7rem;
        font-size: 2rem;
        letter-spacing: .5rem;
    }
}







/* ******* ******* ******* ******* ******* ******* ******* */
/*                        7 - About                        */
/* ******* ******* ******* ******* ******* ******* ******* */

.about {
    padding: 5rem 0;
}

.about__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;
}

.about__title {
    text-align: center;
    font-size: 2.6rem;
    padding-bottom: .4rem;
    margin-bottom: 1.4rem;
    border-bottom: solid .3rem var(--color-primary);
    font-weight: 400;
    width: 100%;
}

.about__menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 80%;
    width: 80%;
    gap: .6rem 2rem;
}

.about__menu__link {
    font-size: 1.9rem;
    font-weight: 600;
    position: relative;
    text-align: center;
    overflow: hidden;
}

.about__menu__link::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -10%;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: var(--color-primary);
    transition: .2s ease;
}

.about__menu__link.active::before, .about__menu__link:hover::before {
    left: 0;
}

/* .about__menu__link:nth-child(odd) {
    text-align: right;
} */

.about__dynamic__section {
    display: none;
}

.about__dynamic__section.active {
    display: flex;
}

.about__dynamic__section.about__services {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}

.about__services__card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about__services__card .img {
    background-color: var(--color-secondary);
    padding: 2rem;
    border-radius: 50%;
    display: grid;
    place-content: center;
    box-shadow: 4px 4px 10px 0 #0001;
    margin-bottom: 2rem;
}

.about__services__card__title {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.about__services__card__text {
    text-align: center;
}